/* Basic CSS Structure */
*{
    padding:0px;
    margin: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
a a:hover{
    text-decoration: none;
}

/* End of Basic CSS Structure */


/* Global CSS */

.container{
    width: 1200px;
    margin: 0px auto;
}
.row{
    width: 100%;
    float:left;
}
.col-6{
    width:50%;
    float:left;
}
.col-4{
    width:33.33%;
    float:left;
}
.col-3{
    width:25%;
    float:left;
}
.col-12{
    width:100%;
    float:left;
}

/* End Of Global CSS */
.header{
    width:100%;
    float:left;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #eee;
}
.header .logo {
    width: auto;
    padding-top: 5px;
}

.header .nav{
    float: left;
    width: 100%;
    text-align: right;
}
.header .nav li{
list-style: none;
display: inline-block;
margin: 10px 0px 0px 0px;
}

.header .nav li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #0F2656;
    margin: 0px 0px 0px 20px;
}
.header .nav li a:hover{
    color:#008AFF;
}

.banner{
    width:100%;
    float:left;
    padding: 80px 0px;
  text-align: center;
}
.banner h1{
   font-size: 54px;
   font-weight: 700;
   line-height: 64px;
   color: #0F2656;
   margin: 0px 0px 15px 0px;
}
.banner h1 span{
    color:#008AFF;
}
.banner p{
    font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   color: #0F2656;
   margin: 0px 0px 15px 0px;
}
.banner .banner-img{
   width:60%;
   margin: 15px 0px 15px 0px;
   
}

.successFull{
width: 100%;
float: left;
padding: 40px  0px;
}
.inner-success-left{
    width: 100%;
float: left;
text-align: right;
}
.inner-success-left h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    color: #F15767;
    margin: 0px 25px 0px 0px;
}
.inner-success-left p{
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    color: #0F2656;
    margin: 0px 25px 0px 0px;
}

.inner-success-right{
    width: 100%;
    float: left;
    
}
.inner-success-right h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    color: #0F2656;
    margin: 0px 0px 0px 25px;
}
.inner-success-right p{
    font-size: 514px;
    font-weight: 400;
    line-height: 34px;
    color: #0F2656;
    margin: 0px 0px 0px 25px;
}
.feature{
    width:100%;
    float: left;
    padding: 40px 0px;
}
.inner-feature{
    width:80%;
   margin: 0px 15px;
    float: left;
    padding: 40px 25px;

}

.inner-feature .img-fluid{
    width:100%;
    height: 200px;
}
.inner-feature p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #0F2656;
    
}
.inner-feature h5{
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    color: #0F2656;
    margin: 15px 0px 15px 0px;
    
}
.cl1{
    background-color:#fdebed ;
}
.cl2{
    background-color:#EBF9F4 ;
}
.cl3{
    background-color:#FFF7EB ;
}
.footer{
    width:100%;
    float:left;
    padding: 15px 0px;
    background-color: #008AFF;
}
.footer p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #88c1ff;
    text-align: center;
}
.footer a{
    
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    
}